body, html {
    background: url("https://wallpaperplay.com/walls/full/1/9/1/107685.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
